<div *ngIf='firstPokemon$ | async; let pokemon' class='card'>
  <div class='pokemon-card__title'>
    <button class='pokemon-card__compare' (click)='onCompare()'>
      Compare
    </button>
    <app-favorite-button [active]='true' [favoritesList]='favoritePokemonList' [pokemon]='firstPokemon$ | async'>
    </app-favorite-button>
    <button class='pokemon-card__close' (click)='onCloseModal()'>
      X
    </button>
  </div>
  <div class='pokemon-container'>
    <div class='image-container'>
      <img class='pokemon-img' [src]='pokemon.imageUrl' [alt]='pokemon.name' />
    </div>
    <h2 class='pokemon-name'>{{ pokemon.name.toUpperCase() }}</h2>

    <p class='pokemon-description'>
      {{ pokemon.description }}
    </p>
    <ul class='pokemon-types'>
      <li *ngFor='let item of pokemon.types' class='pokemon-type' [class]='item.type.name'>
        {{ item.type.name.charAt(0).toUpperCase() + item.type.name.slice(1) }}
      </li>
    </ul>
    <div class='information-container'>
      <div *ngFor='let item of pokemon.information | keyvalue; let i = index' [class]='informationClasses[i]'>
        <h3 class='information-container__item-value'>{{ item.value + informationUnits[i] }}</h3>
        <h3 class='information-container__item-name'>{{ item.key.charAt(0).toUpperCase() + item.key.slice(1) }}</h3>
      </div>
    </div>
  </div>
  <div class='pokemon-container'>
    <div class='pokemon-container__title'>
      <img class='pokemon-container__title-img' src='assets/images/gray-pokeball.png' alt='Pokeball' />
      <h3 class='pokemon-container__title-text'>Abilities</h3>
    </div>
    <ul class='abilities-list'>
      <li *ngFor='let item of pokemon.abilities' class='abilities-item'>
        {{ item.ability.name.charAt(0).toUpperCase() + item.ability.name.slice(1) }}
      </li>
    </ul>
  </div>
  <div class='pokemon-container'>
    <div class='pokemon-container__title'>
      <img class='pokemon-container__title-img' src='assets/images/gray-pokeball.png' alt='Pokeball' />
      <h3 class='pokemon-container__title-text'>Stats</h3>
    </div>
    <app-pokemon-chart [firstPokemon]='firstPokemon$ | async'></app-pokemon-chart>
  </div>
  <h2 class='pokemon-text'>{{ pokemon.name.toUpperCase() }}</h2>
</div>