.card {
  background: var(--gray-bg);
  cursor: auto;
}

.pokemon-card__title {
  display: flex;
  height: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;  
  position: relative;
}

.pokemon-card__compare {
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
  margin-left: 3.5rem;
  border: solid 1px var(--white);
  background: var(--redish);
  color: var(--white);
}

.pokemon-card__compare:hover,
.pokemon-card__compare:active {
  background: var(--white);
  color: var(--redish);
}

.pokemon-card__close {
  margin-left: auto; 
  margin-right: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--redish);
  border: solid 1px var(--redish);
}

.pokemon-container {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 1rem;
}

.image-container {
  width: 12rem;
  image-rendering: pixelated;
  margin-top: -6rem;
}

.pokemon-img {
  width: 100%;
}

.pokemon-name {
  margin: 0;
  color: var(--gray);
}

.pokemon-description {
  margin: 0.5rem 2.5rem;
  text-align: center;
  color: var(--light-black);
}

.pokemon-types {
  list-style: none;
  text-align: center;
  padding: 0;
}

.pokemon-type {
  display: inline-block;
  margin: 0 0.2rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--white);
  border-radius: 5px;
  color: var(--white);
}

.comparison-image-container {
  width: 80%;
  display: flex;
  justify-content: center;
  image-rendering: pixelated;
  margin-top: -6rem;
}

.comparison-pokemon-img {
  width: 10rem;
}
